footer.main-footer{
    text-align: center;
}

footer.main-footer nav{}

footer.main-footer nav ul{}
footer.main-footer nav ul li{
    padding: 20px 40px 20px 40px;
}
footer.main-footer nav ul li i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}
footer.main-footer nav ul li h3{
    color: var(--grisOscuro);
    margin-bottom: 0px;
    /* font-size: var(--titleTextSize); */
}
footer.main-footer nav ul li p{
    color: var(--grisOscuro);
    font-size: var(--bodyTextSize);
    margin-top: 0px;
}