.home-body {}

.home-header {
    background-color: var(--amarillo);
}

.home-header img.logo {
    width: 134px;
    margin: 34px;
}


.home-header div input {
    width: 180px;
    margin-left: 20px;
    text-align: center;
}

.home-header p.texto {
    text-align: center;
    font-size: var(--cuerpoTexto);
}

.home-header nav {
    margin-bottom: 10px;
    font-size: var(--cuerpoTexto);
}

.home-header ul.list-nav-principal, ul.list-nav-login {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.home-header div.burger-menu {
    text-align: center;
}

.home-header div.burger-menu i {
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: var(--celeste);
}
