.home-main {
  background-color: var(--grisClaro);
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.home-main img.banner {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-main section.ultima-visita {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.home-main section.ultima-visita h2 {
  text-align: center;
  font-size: var(--titulares);
  color: var(--grisOscuro);
}

.home-main section.ultima-visita article.products {
  background-color: var(--blanco);
  margin: 15px 0;
  width: 100%;
}

.home-main section.ultima-visita article.products img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-main section.ultima-visita article.products div.description {
  border-top: 1px solid var(--grisClaro);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
  position: relative;
  align-items: center;
}

.home-main section.ultima-visita .products .description i {
  color: var(--verde);
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: var(--blanco);
  border-radius: 50%;
  position: absolute;
  left: 73vw;
  top: -17px;
}

.home-main section.ultima-visita .products .description .precio {
  font-size: var(--precios);
  width: 30%;
}

.home-main section.ultima-visita .products .description .descuentos {
  color: var(--verde);
  font-size: var(--descuentos);
  width: 70%;
  text-wrap: nowrap;
}

.home-main section.ultima-visita .products .description h4 {
  color: var(--grisOscuro);
  display: none;
  margin-top: 15px;
}

.home-main section.ofertas {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.home-main section.ofertas h2 {
  text-align: center;
  font-size: var(--titulares);
  color: var(--grisOscuro);
}

.home-main section.ofertas article.products {
  background-color: var(--blanco);
  margin: 15px 0;
  width: 100%;
}

.home-main section.ofertas .products img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-main section.ofertas .products .description {
  border-top: 1px solid var(--grisClaro);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 15px;
  position: relative;
}

.home-main section.ofertas .products .description i {
  color: var(--verde);
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: var(--blanco);
  border-radius: 50%;
  position: absolute;
  left: 71vw;
  top: -17px;
}

.home-main section.ofertas .products div.description .precio {
  font-size: var(--precios);
  width: 30%;
}

.home-main section.ofertas .products .description .descuentos {
  font-size: var(--descuentos);
  color: var(--verde);
  width: 70%;
  text-wrap: nowrap;
}

.home-main section.ofertas .products .description h4 {
  color: var(--grisOscuro);
  display: none;
  margin-top: 15px;
}

/* ------ MEDIA QUERIES --------- */


@media (min-width: 361px) {
  .home-main {}
  
  .home-main img.banner {}

  .home-main section.ultima-visita {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    justify-content: center;
    gap: 10px 17px;
  }
  
  .home-main section.ultima-visita h2 {
    text-align: start;
    width: 92%;
  }
  .home-main section.ultima-visita article.products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 43.6%;
    margin: 6px 6px;
  }
  
  .home-main section.ultima-visita .products .description i {
    left: 30vw;
  }
  
  .home-main section.ultima-visita .products .description .descuentos {
    padding-left: 30px;
  }
  
  .home-main section.ultima-visita .products .description h4 {
    display: block;
  }

  
  .home-main section.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    gap: 10px 17px;
  }
  
  .home-main section.ofertas h2 {
    text-align: start;
    width: 92%;
  }
  
  .home-main section.ofertas article.product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 43.6%;
    margin: 6px 6px;
  }
  
  .home-main section.ofertas .product .description i {
    left: 30vw;
  }
  
  .home-main section.ofertas .products .description .descuentos {
    padding-left: 31px;
  }
  
  .home-main section.ofertas .products .description h4 {
    display: block;
  }

}

@media (min-width: 769px) {
  .home-main {}
  
  .home-main section.ultima-visita article.products {
    width: 21.4%;
  }
  .home-main section.ultima-visita .products .description i {
    left: 14vw;
  }
  .home-main section.ultima-visita .products .description .descuentos {
    padding-left: 35px;
  }
  
  
  /* ------ SECCIÓN OFERTAS --------- */
  
 
  .home-main section.ofertas article.products {
    width: 21.4%;
  }
  
 
  .home-main section.ofertas .products .description i {
    left: 14vw;
  }
  
  
}